* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.icon__title {
    background-color: rgb(223, 215, 215);
    height: 40px;
    border-radius: 6px;
}

.booked__icon {
    color: green;
}

.selected__icon {
    color: rgb(110, 0, 110);
}

.unavailable__icon {
    color: red;
}

.icon__label {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}

.gradient__hr {
    display: block;
    border: none;
    color: rgb(107, 99, 99);
    height: 2px;
    background: rgb(73, 71, 71);
    background: -webkit-gradient( radial, 50% 50%, 0, 50% 50%, 390, from(rgb(150, 147, 147)), to(#fff));
    margin-top: 30px;
}

.sequence {
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

.fa-couch {
    cursor: pointer !important;
}